In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Model Preprocessing

In [2]:
df = pd.read_csv('/Users/rohitlabade/Desktop/IMD-Project/DATA/MAHARASHTRA_PUNE_PASHAN_AWS_LAB_18.5167_73.85_577.0_2024-12-01_2024-12-31_AWS.csv')

In [3]:
df.head()

,DATE,TIME(UTC),RAIN_HOURLY(mm),RAIN_DAILY(mm),TEMP(C),TEMP_MIN(C),TEMP_MAX(C),TEMP_MIN_MAX_DAY(C),DEW_POINT(C),RH(%),...,SOIL_MOIS_10cm(m3/m3),SOIL_TEMP_30cm(C),SOIL_MOIS_30cm(m3/m3),SOIL_TEMP_70cm(C),SOIL_MOIS_70cm(m3/m3),SOIL_TEMP_100cm(C),SOIL_MOIS_100cm(m3/m3),GLOBAL_RADIATION(v/m2),PAR(micro-mole/m2s),Unnamed: 30
0,2024-12-01,0:00:00,NaN,0.0,12.8,12.7,22.3,NaN,12.8,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1,2024-12-01,0:15:00,NaN,0.0,12.9,12.7,22.3,NaN,12.9,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2,2024-12-01,0:30:00,NaN,0.0,12.8,12.7,22.3,NaN,12.8,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
3,2024-12-01,0:45:00,NaN,0.0,12.9,12.7,22.3,NaN,12.9,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
4,2024-12-01,1:00:00,NaN,0.0,13.0,12.7,22.3,NaN,13.0,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2890 entries, 0 to 2889
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DATE                    2890 non-null   object
 1   TIME(UTC)               2890 non-null   object
 2   RAIN_HOURLY(mm)         0 non-null      float64
 3   RAIN_DAILY(mm)          2890 non-null   float64
 4   TEMP(C)                 2890 non-null   float64
 5   TEMP_MIN(C)             2889 non-null   float64
 6   TEMP_MAX(C)             2855 non-null   float64
 7   TEMP_MIN_MAX_DAY(C)     62 non-null     float64
 8   DEW_POINT(C)            2890 non-null   float64
 9   RH(%)                   2890 non-null   int64
 10  RH_MIN_MAX_DAY(%)       0 non-null      float64
 11  WIND_DIR_10m(deg)       2890 non-null   int64
 12  WIND_SPEED_10m(kt)      2890 non-null   int64
 13  WIND_MAX/GUST_10m(kt)   2890 non-null   int64
 14  WIND_DIR_3m(deg)        0 non-null      float64
 15  WIND_SPEED_3m(kt)       0 non-null      float64
 16  WIND_MAX/GUST_3m(kt)    0 non-null      float64
 17  SLP(hPa)                2862 non-null   float64
 18  MSLP(hPa)               2862 non-null   float64
 19  SUNSHINE(HH:MM)         0 non-null      float64
 20  SOIL_TEMP_10cm(C)       0 non-null      float64
 21  SOIL_MOIS_10cm(m3/m3)   0 non-null      float64
 22  SOIL_TEMP_30cm(C)       0 non-null      float64
 23  SOIL_MOIS_30cm(m3/m3)   0 non-null      float64
 24  SOIL_TEMP_70cm(C)       0 non-null      float64
 25  SOIL_MOIS_70cm(m3/m3)   0 non-null      float64
 26  SOIL_TEMP_100cm(C)      0 non-null      float64
 27  SOIL_MOIS_100cm(m3/m3)  0 non-null      float64
 28  GLOBAL_RADIATION(v/m2)  2890 non-null   float64
 29  PAR(micro-mole/m2s)     0 non-null      float64
 30  Unnamed: 30             0 non-null      float64
dtypes: float64(25), int64(4), object(2)
memory usage: 700.1+ KB

In [5]:
df.describe()

,RAIN_HOURLY(mm),RAIN_DAILY(mm),TEMP(C),TEMP_MIN(C),TEMP_MAX(C),TEMP_MIN_MAX_DAY(C),DEW_POINT(C),RH(%),RH_MIN_MAX_DAY(%),WIND_DIR_10m(deg),...,SOIL_MOIS_10cm(m3/m3),SOIL_TEMP_30cm(C),SOIL_MOIS_30cm(m3/m3),SOIL_TEMP_70cm(C),SOIL_MOIS_70cm(m3/m3),SOIL_TEMP_100cm(C),SOIL_MOIS_100cm(m3/m3),GLOBAL_RADIATION(v/m2),PAR(micro-mole/m2s),Unnamed: 30
count,0.0,2890.000000,2890.000000,2889.000000,2855.000000,62.000000,2890.000000,2890.000000,0.0,2890.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2890.0,0.0,0.0
mean,NaN,0.023875,20.808893,17.360990,26.155096,22.461290,18.499031,90.496194,NaN,164.774048,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
std,NaN,0.148667,6.016982,3.905535,2.930726,8.347835,5.661678,21.124878,NaN,73.971947,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
min,NaN,0.000000,7.500000,7.500000,11.600000,7.800000,0.800000,15.000000,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
25%,NaN,0.000000,16.500000,14.800000,24.500000,15.800000,14.600000,100.000000,NaN,107.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
50%,NaN,0.000000,20.250000,17.600000,26.500000,25.050000,18.200000,100.000000,NaN,170.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
75%,NaN,0.000000,26.200000,19.700000,28.100000,30.000000,22.700000,100.000000,NaN,219.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
max,NaN,1.500000,32.900000,28.300000,33.500000,33.500000,31.700000,100.000000,NaN,359.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [6]:
df.isnull().sum()

DATE                         0
TIME(UTC)                    0
RAIN_HOURLY(mm)           2890
RAIN_DAILY(mm)               0
TEMP(C)                      0
TEMP_MIN(C)                  1
TEMP_MAX(C)                 35
TEMP_MIN_MAX_DAY(C)       2828
DEW_POINT(C)                 0
RH(%)                        0
RH_MIN_MAX_DAY(%)         2890
WIND_DIR_10m(deg)            0
WIND_SPEED_10m(kt)           0
WIND_MAX/GUST_10m(kt)        0
WIND_DIR_3m(deg)          2890
WIND_SPEED_3m(kt)         2890
WIND_MAX/GUST_3m(kt)      2890
SLP(hPa)                    28
MSLP(hPa)                   28
SUNSHINE(HH:MM)           2890
SOIL_TEMP_10cm(C)         2890
SOIL_MOIS_10cm(m3/m3)     2890
SOIL_TEMP_30cm(C)         2890
SOIL_MOIS_30cm(m3/m3)     2890
SOIL_TEMP_70cm(C)         2890
SOIL_MOIS_70cm(m3/m3)     2890
SOIL_TEMP_100cm(C)        2890
SOIL_MOIS_100cm(m3/m3)    2890
GLOBAL_RADIATION(v/m2)       0
PAR(micro-mole/m2s)       2890
Unnamed: 30               2890
dtype: int64

In [7]:
df.isnull()

,DATE,TIME(UTC),RAIN_HOURLY(mm),RAIN_DAILY(mm),TEMP(C),TEMP_MIN(C),TEMP_MAX(C),TEMP_MIN_MAX_DAY(C),DEW_POINT(C),RH(%),...,SOIL_MOIS_10cm(m3/m3),SOIL_TEMP_30cm(C),SOIL_MOIS_30cm(m3/m3),SOIL_TEMP_70cm(C),SOIL_MOIS_70cm(m3/m3),SOIL_TEMP_100cm(C),SOIL_MOIS_100cm(m3/m3),GLOBAL_RADIATION(v/m2),PAR(micro-mole/m2s),Unnamed: 30
0,False,False,True,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,False,True,True
1,False,False,True,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,False,True,True
2,False,False,True,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,False,True,True
3,False,False,True,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,False,True,True
4,False,False,True,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2885,False,False,True,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,False,True,True
2886,False,False,True,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,False,True,True
2887,False,False,True,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,False,True,True
2888,False,False,True,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,False,True,True
2889,False,False,True,False,False,False,False,True,False,False,...,True,True,True,True,True,True,True,False,True,True

In [8]:
df.columns[df.isna().any()].tolist()

['RAIN_HOURLY(mm)',
 'TEMP_MIN(C)',
 'TEMP_MAX(C)',
 'TEMP_MIN_MAX_DAY(C)',
 'RH_MIN_MAX_DAY(%)',
 'WIND_DIR_3m(deg)',
 'WIND_SPEED_3m(kt)',
 'WIND_MAX/GUST_3m(kt)',
 'SLP(hPa)',
 'MSLP(hPa)',
 'SUNSHINE(HH:MM)',
 'SOIL_TEMP_10cm(C)',
 'SOIL_MOIS_10cm(m3/m3)',
 'SOIL_TEMP_30cm(C)',
 'SOIL_MOIS_30cm(m3/m3)',
 'SOIL_TEMP_70cm(C)',
 'SOIL_MOIS_70cm(m3/m3)',
 'SOIL_TEMP_100cm(C)',
 'SOIL_MOIS_100cm(m3/m3)',
 'PAR(micro-mole/m2s)',
 'Unnamed: 30']

In [9]:
df[df.isnull().any(axis=1)]

,DATE,TIME(UTC),RAIN_HOURLY(mm),RAIN_DAILY(mm),TEMP(C),TEMP_MIN(C),TEMP_MAX(C),TEMP_MIN_MAX_DAY(C),DEW_POINT(C),RH(%),...,SOIL_MOIS_10cm(m3/m3),SOIL_TEMP_30cm(C),SOIL_MOIS_30cm(m3/m3),SOIL_TEMP_70cm(C),SOIL_MOIS_70cm(m3/m3),SOIL_TEMP_100cm(C),SOIL_MOIS_100cm(m3/m3),GLOBAL_RADIATION(v/m2),PAR(micro-mole/m2s),Unnamed: 30
0,2024-12-01,0:00:00,NaN,0.0,12.8,12.7,22.3,NaN,12.8,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1,2024-12-01,0:15:00,NaN,0.0,12.9,12.7,22.3,NaN,12.9,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2,2024-12-01,0:30:00,NaN,0.0,12.8,12.7,22.3,NaN,12.8,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
3,2024-12-01,0:45:00,NaN,0.0,12.9,12.7,22.3,NaN,12.9,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
4,2024-12-01,1:00:00,NaN,0.0,13.0,12.7,22.3,NaN,13.0,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2885,2024-12-31,22:45:00,NaN,0.0,15.1,15.1,28.3,NaN,15.1,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2886,2024-12-31,23:00:00,NaN,0.0,15.1,15.1,28.3,NaN,15.1,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2887,2024-12-31,23:15:00,NaN,0.0,15.0,15.0,28.3,NaN,15.0,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2888,2024-12-31,23:30:00,NaN,0.0,14.8,14.9,28.3,NaN,14.8,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2889,2024-12-31,23:45:00,NaN,0.0,14.8,14.8,28.3,NaN,14.8,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [10]:
df.info(
    
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2890 entries, 0 to 2889
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DATE                    2890 non-null   object
 1   TIME(UTC)               2890 non-null   object
 2   RAIN_HOURLY(mm)         0 non-null      float64
 3   RAIN_DAILY(mm)          2890 non-null   float64
 4   TEMP(C)                 2890 non-null   float64
 5   TEMP_MIN(C)             2889 non-null   float64
 6   TEMP_MAX(C)             2855 non-null   float64
 7   TEMP_MIN_MAX_DAY(C)     62 non-null     float64
 8   DEW_POINT(C)            2890 non-null   float64
 9   RH(%)                   2890 non-null   int64
 10  RH_MIN_MAX_DAY(%)       0 non-null      float64
 11  WIND_DIR_10m(deg)       2890 non-null   int64
 12  WIND_SPEED_10m(kt)      2890 non-null   int64
 13  WIND_MAX/GUST_10m(kt)   2890 non-null   int64
 14  WIND_DIR_3m(deg)        0 non-null      float64
 15  WIND_SPEED_3m(kt)       0 non-null      float64
 16  WIND_MAX/GUST_3m(kt)    0 non-null      float64
 17  SLP(hPa)                2862 non-null   float64
 18  MSLP(hPa)               2862 non-null   float64
 19  SUNSHINE(HH:MM)         0 non-null      float64
 20  SOIL_TEMP_10cm(C)       0 non-null      float64
 21  SOIL_MOIS_10cm(m3/m3)   0 non-null      float64
 22  SOIL_TEMP_30cm(C)       0 non-null      float64
 23  SOIL_MOIS_30cm(m3/m3)   0 non-null      float64
 24  SOIL_TEMP_70cm(C)       0 non-null      float64
 25  SOIL_MOIS_70cm(m3/m3)   0 non-null      float64
 26  SOIL_TEMP_100cm(C)      0 non-null      float64
 27  SOIL_MOIS_100cm(m3/m3)  0 non-null      float64
 28  GLOBAL_RADIATION(v/m2)  2890 non-null   float64
 29  PAR(micro-mole/m2s)     0 non-null      float64
 30  Unnamed: 30             0 non-null      float64
dtypes: float64(25), int64(4), object(2)
memory usage: 700.1+ KB

In [11]:
df = df.iloc[:, :df.columns.get_loc('MSLP(hPa)') + 1]  # Keep columns up to 'C'

In [12]:
df.head()

,DATE,TIME(UTC),RAIN_HOURLY(mm),RAIN_DAILY(mm),TEMP(C),TEMP_MIN(C),TEMP_MAX(C),TEMP_MIN_MAX_DAY(C),DEW_POINT(C),RH(%),RH_MIN_MAX_DAY(%),WIND_DIR_10m(deg),WIND_SPEED_10m(kt),WIND_MAX/GUST_10m(kt),WIND_DIR_3m(deg),WIND_SPEED_3m(kt),WIND_MAX/GUST_3m(kt),SLP(hPa),MSLP(hPa)
0,2024-12-01,0:00:00,NaN,0.0,12.8,12.7,22.3,NaN,12.8,100,NaN,238,1,2,NaN,NaN,NaN,945.0,1011.8
1,2024-12-01,0:15:00,NaN,0.0,12.9,12.7,22.3,NaN,12.9,100,NaN,201,1,2,NaN,NaN,NaN,945.2,1012.0
2,2024-12-01,0:30:00,NaN,0.0,12.8,12.7,22.3,NaN,12.8,100,NaN,185,0,1,NaN,NaN,NaN,945.5,1012.3
3,2024-12-01,0:45:00,NaN,0.0,12.9,12.7,22.3,NaN,12.9,100,NaN,159,1,1,NaN,NaN,NaN,945.5,1012.3
4,2024-12-01,1:00:00,NaN,0.0,13.0,12.7,22.3,NaN,13.0,100,NaN,196,1,2,NaN,NaN,NaN,945.7,1012.5

In [13]:
df.drop(columns=['RAIN_HOURLY(mm)',"TEMP_MIN_MAX_DAY(C)","RH_MIN_MAX_DAY(%)","WIND_DIR_3m(deg)","WIND_SPEED_3m(kt)","WIND_MAX/GUST_3m(kt)"], axis=1, inplace=True)

In [14]:
df.head()

,DATE,TIME(UTC),RAIN_DAILY(mm),TEMP(C),TEMP_MIN(C),TEMP_MAX(C),DEW_POINT(C),RH(%),WIND_DIR_10m(deg),WIND_SPEED_10m(kt),WIND_MAX/GUST_10m(kt),SLP(hPa),MSLP(hPa)
0,2024-12-01,0:00:00,0.0,12.8,12.7,22.3,12.8,100,238,1,2,945.0,1011.8
1,2024-12-01,0:15:00,0.0,12.9,12.7,22.3,12.9,100,201,1,2,945.2,1012.0
2,2024-12-01,0:30:00,0.0,12.8,12.7,22.3,12.8,100,185,0,1,945.5,1012.3
3,2024-12-01,0:45:00,0.0,12.9,12.7,22.3,12.9,100,159,1,1,945.5,1012.3
4,2024-12-01,1:00:00,0.0,13.0,12.7,22.3,13.0,100,196,1,2,945.7,1012.5

In [15]:
df.isnull().sum()

DATE                      0
TIME(UTC)                 0
RAIN_DAILY(mm)            0
TEMP(C)                   0
TEMP_MIN(C)               1
TEMP_MAX(C)              35
DEW_POINT(C)              0
RH(%)                     0
WIND_DIR_10m(deg)         0
WIND_SPEED_10m(kt)        0
WIND_MAX/GUST_10m(kt)     0
SLP(hPa)                 28
MSLP(hPa)                28
dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2890 entries, 0 to 2889
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DATE                   2890 non-null   object
 1   TIME(UTC)              2890 non-null   object
 2   RAIN_DAILY(mm)         2890 non-null   float64
 3   TEMP(C)                2890 non-null   float64
 4   TEMP_MIN(C)            2889 non-null   float64
 5   TEMP_MAX(C)            2855 non-null   float64
 6   DEW_POINT(C)           2890 non-null   float64
 7   RH(%)                  2890 non-null   int64
 8   WIND_DIR_10m(deg)      2890 non-null   int64
 9   WIND_SPEED_10m(kt)     2890 non-null   int64
 10  WIND_MAX/GUST_10m(kt)  2890 non-null   int64
 11  SLP(hPa)               2862 non-null   float64
 12  MSLP(hPa)              2862 non-null   float64
dtypes: float64(7), int64(4), object(2)
memory usage: 293.6+ KB

In [17]:
df = df.dropna()

In [18]:
df.isnull().sum()

DATE                     0
TIME(UTC)                0
RAIN_DAILY(mm)           0
TEMP(C)                  0
TEMP_MIN(C)              0
TEMP_MAX(C)              0
DEW_POINT(C)             0
RH(%)                    0
WIND_DIR_10m(deg)        0
WIND_SPEED_10m(kt)       0
WIND_MAX/GUST_10m(kt)    0
SLP(hPa)                 0
MSLP(hPa)                0
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2827 entries, 0 to 2889
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DATE                   2827 non-null   object
 1   TIME(UTC)              2827 non-null   object
 2   RAIN_DAILY(mm)         2827 non-null   float64
 3   TEMP(C)                2827 non-null   float64
 4   TEMP_MIN(C)            2827 non-null   float64
 5   TEMP_MAX(C)            2827 non-null   float64
 6   DEW_POINT(C)           2827 non-null   float64
 7   RH(%)                  2827 non-null   int64
 8   WIND_DIR_10m(deg)      2827 non-null   int64
 9   WIND_SPEED_10m(kt)     2827 non-null   int64
 10  WIND_MAX/GUST_10m(kt)  2827 non-null   int64
 11  SLP(hPa)               2827 non-null   float64
 12  MSLP(hPa)              2827 non-null   float64
dtypes: float64(7), int64(4), object(2)
memory usage: 309.2+ KB

In [23]:
df.drop(columns=['DATE','TIME(UTC)'], axis=1, inplace=True)

In [24]:
df.head()

,RAIN_DAILY(mm),TEMP(C),TEMP_MIN(C),TEMP_MAX(C),DEW_POINT(C),RH(%),WIND_DIR_10m(deg),WIND_SPEED_10m(kt),WIND_MAX/GUST_10m(kt),SLP(hPa),MSLP(hPa)
0,0.0,12.8,12.7,22.3,12.8,100,238,1,2,945.0,1011.8
1,0.0,12.9,12.7,22.3,12.9,100,201,1,2,945.2,1012.0
2,0.0,12.8,12.7,22.3,12.8,100,185,0,1,945.5,1012.3
3,0.0,12.9,12.7,22.3,12.9,100,159,1,1,945.5,1012.3
4,0.0,13.0,12.7,22.3,13.0,100,196,1,2,945.7,1012.5

In [25]:
df.to_csv('/Users/rohitlabade/Desktop/IMD-Project/Cleaned DATA/MAHARASHTRA_PUNE_PASHAN_AWS_LAB_18.5167_73.85_577.0_2024-12-01_2024-12-31_AWS_cleaned.csv', index=False)